{% extends 'layouts/email.html.twig' %}
{% trans_default_domain 'messages' %}
{% set page_title = 'auth.email.reset_pro.page_title'|trans %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
<div class="wrap">
    <div class="card">
        <div class="brand">BELLE MAISON</div>
        <p>{{ 'auth.email.reset_pro.intro'|trans }}</p>
        <h1>{{ 'auth.email.reset_pro.heading'|trans }}</h1>
        <p>{{ 'auth.email.reset_pro.greeting'|trans({'%name%': user.firstname|default('') ?: 'auth.email.verify.guest'|trans}) }}</p>
        <div class="box">
            <p>{{ 'auth.email.reset.expiration_prefix'|trans }} {{ resetToken is defined ? resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') : 'auth.email.reset.expiration_fallback'|trans }}.</p>
        </div>
        <a class="btn" href="{{ resetUrl|default('#') }}">{{ 'auth.email.reset_pro.button'|trans }}</a>
        <p class="muted">{{ 'auth.email.reset.footer'|trans }}</p>
    </div>
</div>
{% endblock %}
