{% extends 'layouts/email.html.twig' %}
{% trans_default_domain 'messages' %}

{% block body %}
<div class="wrap">
    <div class="card">
        <div class="brand">BELLE MAISON</div>
        <h1>{{ 'auth.email.verify.heading'|trans }}</h1>
        <p>
            {{ 'auth.email.verify.greeting'|trans({'%name%': user.firstname|default('') ?: 'auth.email.verify.guest'|trans}) }}
        </p>
        <p>
            {{ 'auth.email.verify.text'|trans }}
        </p>

        <div class="box">
            <a class="btn" href="{{ signedUrl }}">{{ 'auth.email.verify.button'|trans }}</a>
        </div>

        <p>
            {{ 'auth.email.verify.expiration_prefix'|trans }}
            {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
        </p>

        <p class="muted">
            {{ 'auth.email.verify.footer'|trans }}
        </p>
    </div>
</div>
{% endblock %}
